<div class="container blog-post">
  <h1><%= @post.title %></h1>
  <p>Created on: <%= @post.created_at.strftime("%d %B %Y") %>
  <%= image_tag(@post.image_url, class: "img-responsive") %>
  <p><%= raw @post.body %></p>
  <%= render 'new_note', post: @post %>
  <%= render 'notes', post: @post %>
  <%= link_to '<<< Back to posts', posts_path %>
  <br><br>
</div> <!-- /container -->

<!--	
<p>
  <strong>Title:</strong>
  <%#= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%#= @post.content %>
</p>

<p>
  <strong>Image url:</strong>
  <%#= @post.image_url %>
</p>


// <%#= link_to 'Edit', edit_post_path(@post) %> |
// <%#= link_to 'Back', posts_path %>
	-->